@import "tailwindcss";

@font-face {
  font-family: "CalSans";
  src: url("./assets/fonts/CalSans/CalSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  font-weight: 100 900;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3 {
  font-family: "CalSans";
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 20px;
    margin-bottom:20px;
}
label {
  font-weight: 600;
}
/*input,
select {
  height: 40px;
  padding: 0 15px;
  margin: 10px 0;
  border-radius: 5px;
}*/